<div style="Margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#f1f2f6">
	<table style="border-spacing:0;width:100%;background-color:#f1f2f6;table-layout:fixed">
		<tbody><tr>
			<td align="center" style="padding-right:0;padding-left:0;vertical-align:top;padding-top:70px;padding-bottom:0">
				<center>
					<div style="font-size:20px;line-height:20px;display:block">&nbsp;</div>
					
					<img width="300" height="auto" style="border-width:0;Margin:0 auto" alt="Educationhubnepal" src="ehn_logo.png" class="CToWUd">
				</center>
			</td>
		</tr>
	</tbody></table>
	<table style="border-spacing:0;width:100%;background-color:#f1f2f6;table-layout:fixed">
		<tbody><tr>
			<td align="center" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top">
				<div style="font-size:40px;line-height:40px;min-height:40px;display:block">&nbsp;</div>
				<center>
					
					<table width="612" style="border-spacing:0;Margin:0 auto">
						<tbody><tr>
							<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;background-color:#edeff3;width:1px">&#8203;</td>
							<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;background-color:#e3e6ec;width:1px">&#8203;</td>
							<td width="608" bgcolor="#ffffff" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;Margin:0 auto">
								<table width="100%" style="border-spacing:0">
									<tbody><tr>
										<td style="vertical-align:top;padding-bottom:10px;padding-left:70px;padding-right:70px;padding-top:58px">
											<table width="100%" style="border-spacing:0">
												<tbody><tr>
													<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left">
														<h1 style="font-family:sans-serif;font-weight:bold;Margin-top:0;text-align:left;font-size:22px;line-height:26px;Margin-bottom:20px;color:#445359">Hi Suman KC,</h1>
														<h3 style="font-family:sans-serif;font-weight:bold;Margin-top:0;text-align:left;font-size:18px;line-height:26px;Margin-bottom:20px;color:#445359">Welcome to EducationHubNepal</h3>
														<p style="Margin-top:0;font-weight:normal;color:#677483;font-family:sans-serif;font-size:14px;line-height:25px;Margin-bottom:15px">Thanks for signing up. We appreciate your effort towards contirbution. Please <span class="il">verify</span> your email address by clicking the button below.</p>
													</td>
												</tr>
											</tbody></table>
										</td>
									</tr>
								</tbody></table>
							</td>
							<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;background-color:#e3e6ec;width:1px">&#8203;</td>
							<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;background-color:#edeff3;width:1px">&#8203;</td>
						</tr>
					</tbody></table>
					<table width="630" style="border-spacing:0;Margin:0 auto">
						<tbody><tr>
							<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top">
								<table width="100%" style="border-spacing:0">
									<tbody><tr>
										<td align="center" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;border-radius:3px;border-width:1px;border-style:solid;border-color:#cccccc;background-color:#ECEFF2">
											<center>
												<table width="628" style="border-spacing:0;border-radius:3px">
													<tbody><tr>
														<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;font-size:9px;line-height:9px;width:9px;border-radius:3px;background-color:#ECEFF2;color:#ECEFF2">&nbsp;</td>
														<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top">
															<table width="100%" style="border-spacing:0;border-left-width:1px;border-left-style:solid;border-left-color:#ECEFF2;border-right-width:1px;border-right-style:solid;border-right-color:#ECEFF2">
																<tbody><tr>
																	<td style="vertical-align:top;text-align:left;padding-left:70px;padding-right:70px;padding-bottom:30px;padding-top:30px">
																		<div>
																			
																			<a style="border-width:1px;border-style:solid;border-color:#eb7f00;background:#eb7f00;border-radius:3px;color:#ffffff;display:inline-block;font-weight:normal;font-family:sans-serif;font-size:14px;line-height:45px;text-align:center;text-decoration:none;width:260px;" href="#">Activate your <span class="il">account</span> and log in</a>
																		</div>
																	</td>
																</tr>
															</tbody></table>
														</td>
														<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;font-size:9px;line-height:9px;width:9px;border-radius:3px;background-color:#ECEFF2;color:#ECEFF2"></td>
													</tr>
												</tbody></table>
											</center>
										</td>
									</tr>
								</tbody></table>
							</td>
						</tr>
						<tr>
							<td align="center" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top">
								<center>
									<table width="610" style="border-spacing:0;Margin:0 auto">
										<tbody><tr>
											<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;background-color:#e3e6ec;width:1px;font-size:3px;line-height:3px">&#8203;</td>
											<td width="608" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;background-color:#eff9e1;font-size:3px;line-height:3px">&nbsp;</td>
											<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;background-color:#e3e6ec;width:1px;font-size:3px;line-height:3px">&#8203;</td>
										</tr>
									</tbody></table>
								</center>
							</td>
						</tr>
					</tbody></table>
					<table width="612" style="border-spacing:0;Margin:0 auto">
						<tbody><tr>
							<td width="608" bgcolor="#ffffff" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;Margin:0 auto">
								<table width="100%" style="border-spacing:0">
									<tbody><tr>
										<td style="vertical-align:top;padding-bottom:45px;padding-left:70px;padding-right:70px;padding-top:30px">
											<table width="100%" style="border-spacing:0">
												<tbody><tr>
													<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left">
														<p style="Margin-top:0;font-weight:normal;color:#677483;font-family:sans-serif;font-size:14px;line-height:25px;Margin-bottom:15px">Thanks<br>
<em style="color:#a9b7c8;font-style:italic">EducationHubNepal Team</em></p>
													</td>
												</tr>
											</tbody></table>
										</td>
									</tr>
								</tbody></table>
							</td>
						</tr>
					</tbody></table>
				</center>
			</td>
		</tr>
	</tbody></table>
	<div style="background-color:#f1f2f6;font-size:40px;line-height:40px;min-height:40px;display:block">&nbsp;</div>
</div>