<div style="margin:0 auto;padding:20px 0 0 0;font-family:Arial">
<div style="width:700px;padding:30px;margin:0px auto;padding-top:0;font-family:Arial">
<div style="width:100%;padding:10px 20px;border-radius:20px 20px 0 0;margin-top:20px;text-align:center;min-height:50px">
<a href="#" target="_blank" rel="noreferrer">
<img style="max-height:50px;" src="<?php echo base_url();?>/assets/images/logo.png" title="Education Hub Nepal - A private shuttle service" alt="Education Hub Nepal LOGO">
</a>
</div>
<div style="clear:both"></div>
<div style="width:700px;padding:10px 20px;font-size:12px;color:#999;line-height:18px">
<h2 style="color:#205b81;font-size:18px;font-weight:normal">Congratulations [_USER_]</h2>
<p>Your account in EducationHubNepal has been created.</p>
<p>Please click on the link below to activate your account</p>
<br/>
<a href="[_ACTIVATIONLINK_]" style="margin-top:20px;padding:10px 30px;background:#2185c5;margin-bottom:80px;color:#fff;text-decoration:none;text-transform:uppercase" target="_blank" rel="noreferrer">Activate Now</a>
<br/>
<p>Thank You </p>
<hr style="border:none;border-top:1px solid #e1e1e1"><a href="#" target="_blank" rel="noreferrer">
</a><p style="text-align:center"><a href="#" target="_blank" rel="noreferrer">
© 2015 </a><a style="color:#2185c5;text-decoration:none" href="#" target="_blank" rel="noreferrer">Education Hub Nepal</a>.
Powered by Community.
All right reserved.
</p>
<p></p></div>
</div>
</div>